/* width */
::-webkit-scrollbar {
    width: 0.375rem!important;
    height: 0.375rem!important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: rgb(100 116 139/.5)!important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #cbd5e0;*/
    border-radius: 0.25rem!important; 
    background-color: rgb(100 116 139/.7)!important;

    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }